.About {
  font-size: 16px;
  min-height: 50vh;
  color: white;
  display: flex;
  justify-content: space-between;
  background-color: black;
  align-items: center;
  flex-direction: column;
  @media only screen and (min-width: 1080px) {
    padding: 100px;
    flex-direction: row;
  }
  @media only screen and (max-width: 1080px) {
    padding-top: 80px;
  }

  &__introduction {
    word-wrap: break-word;
    width: 80%;
    .highlight-text {
      color: cyan;
    }
    .own-description {
      max-width: 80%;
      @media only screen and (max-width: 1080px) {
        max-width: 100%;
      }
    }
  }
  &__photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 20;
    overflow: hidden;
  }
}
