.experience {
  background-color: black;
  min-height: 50vh;
  color: white;
  width: 100%;
  @media only screen and (min-width: 1080px) {
    padding: 100px;
  }
  @media only screen and (max-width: 1080px) {
    padding: 80px 40px 40px 40px;
  }
}
.react-pdf__Page__canvas {
  margin: 0 auto;
  width: 60% !important;
  height: 100% !important;
  @media only screen and (max-width: 1080px) {
    width: 80% !important;
  }
  @media only screen and (max-width: 500px) {
    width: 100% !important;
  }
}

.react-pdf__Page {
  background-color: black !important;
  --scale-factor: 0.05 !important;
}

.react-pdf__Page__textContent {
  display: none;
}
